@font-face {
  font-family: "shrikhandregular";
  src: url("shrikhand-regular-webfont.woff2") format("woff2"), url("shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

button
{
  justify-content: center;
  border-radius:40px;
  width: 70%;
  height: 60px;
  text-align: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 15px;
  font-size: 70%;
  box-shadow: 5px 5px 5px #c7c4c4;
  border:none;
  margin-left: 15%;
  margin-bottom:15px;
}
.anim1 
{
  transition: .5s;
  animation: menu 2s;
}

.anim2 
{
  transition: .5s;
  animation: menu 4s;
}
.anim3 
{
  transition: .5s;
  animation: menu 6s;
}
.anim4 
{
  transition: .5s;
  animation: menu 8s;
}

    
@keyframes menu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
 
button:hover
{
  background: linear-gradient(#efc0fa, #c9a4f5);
  box-shadow: 10px 10px 10px #545252;
  transform: scale(1.15); /*augmente taille bouton*/
}
header 
{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
header i 
{
  margin-left: 60%;
  font-size: 25px;
  color: black;
}
header img 
{
  width: 280px;
  height: 50px;
  margin: auto;
}

.restaurant .title 
{
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.restaurant .title i 
{
  width: 100%;
  font-size: 100%;
  font-weight: 200;
  text-align: right;
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.restaurant h1 
{
  font-family: "shrikhandregular", sans-serif;
  margin-bottom: 5%;
  align-items: center;
  margin-right: 10%;
  font-size: 180%;
  font-weight: lighter;
  margin-left: 5%;
  white-space:nowrap;
}
h2
{
  text-align: center;
}
body
{
  font-family: robotoregular;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; 
  margin-right: 20%;
  margin-left: 20%;
}
footer
{
  background-color: #242424;
  text-align: left;
  color: white;
  text-decoration: none;
  padding-left: 25px;
}
footer a
{
  text-decoration:none;
  color: white;
  font-size: 85%;
  font-family: robotoregular;
}
h3
{
  font-family: shrikhandregular; 
  font-weight: lighter;
}
ul
{
  list-style-type: none;
  max-width: 42rem;
  text-decoration:none;
  padding-left: 0.2rem;
}
 .imggrand
 {
width: 60%;
max-height: 300px;
position: absolute;
top: 100px;
z-index: -50000;

 }
.restaurant
{
  border-top-right-radius: 50px;
border-top-left-radius: 50px;
text-align: left;
font-size: 200%;
background-color: #f3f1f1;
padding-bottom: 50px;
position: relative;
z-index: 5555;
margin-top: 200px;
 
}
.palette
{
  max-height: 30%;
  max-width:80%;
  width: 100%;
  height:40%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 25px 25px 25px 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 0%;
  box-shadow: 5px 5px 5px #c7c4c4;
  cursor: pointer;
  }
.yo
{
  width: 100%;
}
.petittitre
{
  font-size: 80%;
  margin-left: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
.prix 
{
  width: 5%;
  display: flex;
  margin-left: 10%;
  justify-content: right;
  align-items: flex-end;
  font-size: 80%;
  font-weight: bold;
  padding-right: 5%;
}
.flexxor
{
  display: flex;
  flex-direction: row;
}
.oklmm 
{
  position: relative;
  text-align: center;
  color: #327836;
}
.palette
{
 max-height: 40%;
 max-width:80%;
}
#resto
{
  margin-left: 25px;
  text-align: center;
  font-size: 150%;
}
h5
{
 font-family: shrikhandregular; 
}
.animation 
{
  background-color: #99e2c0;
  color: white;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0px;
  display: flex;
  align-items: center;
}
.circle 
{
  font-size: 1.2em;
  transition: 900ms;
  opacity: 0;
}
.palette :hover .animation 
{
  transform: scale(1);
  transform-origin: 50% 0%;
  width: 30%;
  transition: 1000ms;
}
.palette :hover .circle 
{
  transform: rotate(-360deg);
  opacity: 1;
  font-size: 100%;
  transition: 600ms;
}
.palette .tarif 
{
  display: flex;
}
.titremenue 
 {
  border-bottom: 3px solid #99E2D0;
  margin-top: 10px;
}
@media all and (max-width: 1300px)
{
        body
        {
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        }
        #resto
        {
        text-align: left;
        font-size: 80%;
        }
        .palette
        {
        max-height: 40%;
        max-width:80%;
        border-radius: 18px 18px 18px 18px;
        }
        .petittitre
        {
        font-size: 55%;
        margin-left: 2%;
        }
        h2
        {
        font-size: 80%;
        padding-left: 25px;
        text-align: left;
        }
        button
        {
        margin-left: 14%;
        }
        .restaurant h1 
        {
        font-size: 90%;
        } 
        .imggrand
         {
          width: 90%;
          top: 125px;
         }  
         .restaurant
          {
            margin-top: 240px;
          }    
}
@media all and (max-width: 800px)
{

        #resto
        {
        text-align: left;
        font-size: 80%;
        }
        main
        {
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
        .palette
        {
        max-height: 40%;
        max-width:80%;
        border-radius: 18px 18px 18px 18px;
        }
        .petittitre
        {
        font-size: 40%;
        margin-left: 4%;
        }
        .prix
        {
        padding-right: 5%;
        font-size: 40%;
        }
        h2
        {
        font-size: 50%;
        padding-left: 25px;
        text-align: left;
        }
        .restaurant h1
        {
        font-size: 70%;
        }
        .restaurant .title i 
        {
        width: 100%;
        font-size: 60%;
        font-weight: 200;
        text-align: right;
        margin-left: 5%;
        margin-bottom: 2%;
        }
        header 
        {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        }
        header i 
        {
        margin-left: 60%;
        font-size: 25px;
        }
        header img 
        {
        width: 200px;
        height: 40px;
        margin: auto;
        }
        .imggrand
         {
          width: 90%;
          top: 105px;
         }
         .restaurant
          {
            margin-top: 200px;
          }
}